.wa{
    border: solid 5px blueviolet;
    padding: 100px;
    margin: 250px;
    width: 350px;
    height: 230px;
    margin-top: 20px;
    
    
}
.tei{
    padding: 9px;
    padding-left: 5px;
                 
}
#in{
   padding-bottom: k;
}

